@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative font-bold text-white cursor-pointer text-[17px] w-fit md:block hidden 
    after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#357BC9] 
    after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-300 after:origin-center
    transition duration-300 hover:text-[#357BC9] active:text-[#357BC9];
  }

  .nav-link-mobile {
    @apply relative font-bold text-white cursor-pointer text-[17px] 
      text-center after:block after:content-[''] after:absolute 
      after:h-[3px] after:bg-[#357BC9] after:w-full after:scale-x-0 
      hover:after:scale-x-100 after:transition after:duration-300 
      after:origin-center transition duration-300 hover:text-[#357BC9] 
      active:text-[#357BC9] mb-0; /* Pastikan tidak ada margin bawah tambahan */
  }

  .heading{
    @apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold uppercase
  }
}

/* Perbaikan untuk margin dan spasi */
@media (max-width: 768px) {
  .nav-link-mobile {
    @apply mb-0; /* Atur margin bawah jadi nol */
  }
}